.product__title {
    color: #151515;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.4;
}

.product__description {
    color: #151515;
    font-size: 17px;
    line-height: 23px;
    position: static;
    width: 569px;
    height: 69px;
    left: 0px;
    top: 113px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 40px;
}

.product__order {
    border: 1px solid #F5F5F5;
    border-radius: 12px;
}

.product__meta {
    font-size: 14px;
    line-height: 19px;
    color: #A9A9A9;
}

.product__meta span {
    color: #151515;
}

.product__order {
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
}

.button {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 3px 12px;
    background: #6A983C;
    border: 2px solid #46760A;
    box-sizing: border-box;
    border-radius: 12px;
    text-decoration: none;
}

/* .product__thumbnails {} */

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 570px;
    height: 522px;
    left: 375px;
    top: 170px;
}