.cart__container {
    max-width: 1260px;
    border-radius: 12px;
    padding: 32px, 16px, 32px, 16px;
    margin: 0 auto;
}

.order__summary {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
}

.cart__button {
    background: #6A983C;
    border: 2px solid #46760A;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 48px;
}

.checkout__panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin: 0px 12px;
}

.checkout__panel__title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
}

.cart__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 48px;
    background: #6A983C;
    border: 2px solid #46760A;
    box-sizing: border-box;
    border-radius: 12px;
    color: #FFFFFF;
    font-weight: bold;
}

.input-field {
    margin-bottom: 16px;
}

.input-group .input-field {
    margin-right: 26px;
}

.input-field label {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #151515;
}

.input-field input {
    background: #F9F9F9;
    border: 1px solid #D1D1D1;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 12px;
    display: block;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
}

.input-field input::placeholder {
    color: #A9A9A9;
}

.subtotal {
    display: flex;
    justify-content: space-between;
    font-family: Poppins;
    font-style: normal;
    line-height: 39px;
    text-align: right;
}

.accent {
    color: #6A983C;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    text-align: right;
}

.confirmation-item {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    background: #F9F9F9;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 12px;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 15px;
}

.confirmation-item input {
    margin: 0px;
    margin-right: 15px;
}

.radio-group {
    display: flex;
    justify-content: space-between;
    background: #F9F9F9;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 12px;
    font-size: 14px;
    line-height: 20px;
    padding: 13px 13px;
    margin-bottom: 16px;
}

.color {
    color: green;
}

.card-accent {
    display: flex;
    justify-content: space-between;
}

.card-accent .input-field:nth-child(1) {
    margin-right: 32px;
    flex-basis: 350px;
}

.card-accent .input-field:nth-child(2) {
    margin-right: 16px;
    flex-basis: 120px;
}

.card-accent .input-field:nth-child(3) {
    flex-basis: 120px;
}